<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifestyle Health</title>
    <link rel="stylesheet" href="/static/Style.css">
</head>
<body>
    <header>
        <h1>Lifestyle Pro</h1>
        <nav>
            <a href="/login">Login</a> | <a href="/register">Sign Up</a>
        </nav>
    </header>
    <main>
        <h2><center>Track Your Health - Fitness, Nutrition, and Sleep</center></h2>
        <p><center>Start your journey towards a healthier lifestyle today!</center></p>
    </main>
</body>
</html>
